html {
    position: relative;
    min-height: 100%;
}


body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    /*background-color: #f8f8f8;*/
    border-top: solid 1px lightgrey;
}

body > .container {
    padding: 60px 15px 0;
}

ul.tree {
    list-style-type: none;
}


.footer > .container {
    /*padding-right: 15px;*/
    /*padding-left: 15px;*/
    padding: 1%;
}


.objects button {
    margin: 2%;
}

#reset {
    display:block; /* change this from inline-block */
    /*width:20%;  setting the width */
    margin:0 auto; /* this will center  it */
    position:relative;
    /*padding: auto 20%;*/
}

#convert {
    display:block; /* change this from inline-block */
    /*width:20%;  setting the width */
    margin:0 auto; /* this will center  it */
    position:relative;
    /*padding: auto 20%;*/
}

.tree:last-child {
    margin-bottom: 1%;
}

.delete {
    margin-left: 2%;
    margin-bottom: 1%;
    /*float: right;*/
}

#firstEntry {
    list-style: none;
}

#firstEntry label {
    margin-top: 1%;
}

#firstEntry input {
    /*width: 50%;*/
}

#goHome a {
    color: black;
    text-decoration: none;
}

#goHome a:hover {
    text-decoration: none;
    color: black;
}